@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

.app {
  color: #333;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.main .value {
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem auto;
}

.icon {
  height: 1.75rem;
}
